<div class="container">
  <h1 style="text-align: center">My bookings</h1>
  <div class="request-container">
    <% @bookings.each do |booking| %>
      <% status = booking.status %>
      <div class="request-card status-<%= status %>" id="card-booking_<%=booking.id%>" >
        <div class="request-text">
        <h4><%= booking.booked_pallets %> pallets requested on <%= booking.created_at.strftime("%B %w, %Y") %></h4>
        <p>From: <%= booking.start_date.strftime("%B %w, %Y") %></p>
        <p>Details: <%= booking.customer_request %></p>
        </div>
        <%= link_to warehouse_path(booking.warehouse), class: "warehouse-targeted" do%>
          <div>
            <p> <strong><%= booking.warehouse.address %></strong></p>
            <div class="request-photo-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path booking.warehouse.photo %>')">
            </div>
          </div>
        <% end %>
        <div class="request-status">
          <p>Status</p>
          <div id='booking-status'>
          <% status = booking.status %>
            <p class="status-<%= status %>"><%= booking.status.capitalize %></p>
            <% if booking.status == "pending" %>
              <button class="btn btn-sm btn-warning swal-cancel"
                data-booking-id="<%= booking.id %>">Cancel</button>
              <%= link_to '', booking_cancel_path(booking), class: '', id: "cancel-booking_#{booking.id}", remote: true %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
