<div class="navbar-wagon">
  <!-- Logo -->
  <%= link_to root_path, class: "navbar-wagon-brand" do %>
    <%= image_tag "logo.png", height: 50 %>
  <% end %>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">

    <% if user_signed_in? %>

      <!-- Links when logged in -->
      <%= link_to "Add your warehouse", new_warehouse_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "+33 (0)6 20 67 58 01", "", class: "navbar-wagon-item navbar-wagon-link" %>

      <!-- Avatar with dropdown menu -->
      <div class="navbar-wagon-item">
        <div class="dropdown">
          <%= image_tag "http://kitt.lewagon.com/placeholder/users/random", class: "avatar dropdown-toggle", id: "navbar-wagon-menu", "data-toggle" => "dropdown" %>
          <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
            <li>
              <%= link_to "/bookings/my_bookings" do %>
                <i class="fa fa-user"></i> <%= t(".profile", default: "My bookings") %>
              <% end %>
            </li>
            <li>
              <%= link_to manage_your_space_warehouses_path do %>
                <i class="fa fa-cog"></i>  <%= t(".settings", default: "My warehouses") %>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    <% else %>
      <!-- Login link (when logged out) -->
      <%= link_to "Add your warehouse", new_warehouse_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to "Contact : +33 (0)6 20 67 58 01", "", class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn btn-default" %>
    <% end %>
  </div>

  <!-- Dropdown list appearing on mobile only -->
  <div class="navbar-wagon-item hidden-md hidden-lg">
    <% if user_signed_in? %>
      <div class="dropdown">
        <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li>
            <%= link_to new_warehouse_path do %>
              <i class="fa fa-warehouse"></i> <%= "Add your Warehouse" %>
            <% end %>
          </li>
          <li>
            <%= link_to "/bookings/my_bookings" do %>
              <i class="fa fa-user"></i> <%= t(".profile", default: "My bookings") %>
            <% end %>
          </li>
          <li>
            <%= link_to manage_your_space_warehouses_path do %>
              <i class="fa fa-cog"></i>  <%= t(".settings", default: "My warehouses") %>
            <% end %>
          </li>
          <li>
            <%= link_to destroy_user_session_path, method: :delete do %>
              <i class="fa fa-sign-out"></i>  <%= t(".sign_out", default: "Log out") %>
            <% end %>
          </li>
        </ul>
      </div>
    <% else %>
      <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link btn btn-default" %>
    <% end %>
  </div>
</div>

