<div class="container">
  <% @warehouses.each do |warehouse| %>
    <%= link_to warehouse_path(warehouse), class: "catalog-card" do %>
      <div class="catalog-card dashboard-card">
        <div class="photo-box" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path warehouse.photo %>')">
          <% if warehouse.user.photo.nil? %>
            <img class="company-logo" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
            <% else %>
            <%= cl_image_tag warehouse.user.photo, class: "company-logo" %>
          <% end %>
          <div class="price-box">
          <%= warehouse.public_price %> € / month
        </div>
        <div class="metrics-box">
          <div class="pallets-box">
            <p class="metric"> <%= warehouse.pallets %> </p>
            Pallets <br>
          </div>
          <div class="separator">
          </div>
          <div class="surface-box">
            <p class="metric"> <%= warehouse.surface %></p>
            Sq. Meters <br>
          </div>
        </div>
        </div>
        <div class="text-box">
          <p class="address"> <%= warehouse.address %> </p>
          <div class="services-box">
            <ul class="list-inline">
              <% if warehouse.transportation_services %>
              <li> <i class="fa fa-check"></i> Transportation</li>
              <% end %>
              <% if warehouse.fulfillment_services %>
              <li><i class="fa fa-check"></i> Fulfillment</li>
              <% end %>
              <% if warehouse.devanning_services %>
              <li><i class="fa fa-check"></i> Devanning</li>
              <% end %>
            </ul>
          </div>
          <div class="certifications-box">
            <ul class="list-inline">
              <% if warehouse.food_grade_certified %>
              <li> <i class="fa fa-lemon"></i> Food Certified</li>
              <% end %>
              <% if warehouse.frozen_certified %>
              <li> <i class="fas fa-snowflake"></i> Frozen Certified</li>
              <% end %>
              <% if warehouse.alcohol_certified %>
              <li><i class="fas fa-glass-martini"></i> Alcohol Certified</li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <% if warehouse.bookings.where(status: "approved").empty? && warehouse.bookings.where(status: "pending").empty?%>
      <p class="centered btn btn-success btn-block small">No bookings</p>
      <% else %>
        <div class="chart1" data-chart=<%= warehouse.create_chart_data.to_json %>></div>
        <div class="wrap-bookings">
          <% warehouse.bookings.each do |booking| %>
            <div class="dashboard-booking request-container status-<%= booking.status %>">
              <div class="request-text">
                <p><strong><%= booking.booked_pallets %> pallets requested from <%= booking.start_date.strftime("%b %d, %Y") %></strong></p>
                <p><strong>Requested on </strong><%= booking.created_at.strftime("%b %d, %Y") %></p>
                <p><strong>Details: </strong><%= booking.customer_request %></p>
              </div>
              <div class="request-status buttons">
                <% if booking.status == "pending"%>
                  <%= link_to "Approve", bookings_approve_path(id: booking.id), method: :patch, class:"btn btn-success btn-block small"%>
                  <%= link_to "Decline", bookings_decline_path(id: booking.id), method: :patch, class:"btn btn-danger btn-block small"%>
                <% else %>
                  <p><%= booking.status.capitalize %></p>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
    </div>
  <% end %>
</div>
