
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="warehouse-content" >
        <h2 class="centered"><%= @warehouse.pallets %> pallets in <%= @warehouse.address %></h2>
        <div class="warehouse-image" style="background-image: url(http://luxreview.com/upload/system/2016/03/07133245.jpg)"></div>
        <div class="warehouse-description">
            <h3>Description</h3>
            <p><%= @warehouse.description %></p>
          <div class="warehouse-features">
            <div class="feature">
              <h3>Certifications</h3>
              <ul class="list-inline grey">
                <li class="<%= 'black' if @warehouse.food_grade_certified %>">Food-grade</li>
                <li class="<%= 'black' if @warehouse.frozen_certified %>">Frozen</li>
                <li class="<%= 'black' if @warehouse.alcohol_certified %>">Alcohol</li>
              </ul>
            </div>
            <div class="feature">
              <h3>Services</h3>
              <ul class="list-inline grey">
                <li class="<%= 'black' if @warehouse.fulfillment_services %>">Fulfillement</li>
                <li class="<%= 'black' if @warehouse.transportation_services %>">Transportation</li>
                <li class="<%= 'black' if @warehouse.devanning_services %>">Devanning</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="warehouse-request-form">
        <h2>My request</h2>
        <%= simple_form_for [@warehouse, @booking] do |f|  %>
          <%= f.input :booked_pallets, label: "Number of pallets to be stored" %>
          <%= f.input :customer_request, label: "Please detail your need: services required, number of loading per month..." %>
          <%= f.button :submit %>
        <% end %>
      </div>
    </div>
  </div>
</div>
